@model IEnumerable<MVC5Application1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人管理</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="post" action="">
    @Html.DropDownList("職稱", "--請選擇職稱--")
    <input type="search" name="search" value="" />
    <input type="submit" value="搜尋" />
</form>
<form method="post" action="">
    @Html.DropDownList("排序", new SelectList(new List<string> { "職稱升冪", "職稱降冪", "姓名升冪", "姓名降冪", "Email升冪", "Email降冪", "手機升冪", "手機降冪", "電話升冪", "電話降冪", "客戶名稱升冪", "客戶名稱降冪" }), "--排序--", new { onchange = @"form.submit();" })
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
