@model IEnumerable<MVC5Application1.Models.客戶聯絡人>

@{
    var items = Model.ToArray();
    ViewBag.Title = "客戶聯絡人List";
    Layout = "";
}

<h2>客戶聯絡人List</h2>
<form method="post" action="/客戶資料/BatchUpdate">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
        </tr>
        @for (var i = 0; i < items.Length; i++)
        {
            @Html.HiddenFor(modelItem => items[i].Id)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => items[i].職稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items[i].姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items[i].Email)
                </td>
                <td>
                    @Html.EditorFor(modelItem => items[i].手機)
                </td>
                <td>
                    @Html.EditorFor(modelItem => items[i].電話)
                </td>
            </tr>
        }
    </table>
    <input type="submit" name="" value="批次更新" />
</form>
